.section_form {
  padding: 60px 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 56, 123, 0.4),
    rgba(0, 56, 123, 0.4)
  );
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;

  letter-spacing: 0.2px;

  color: #252b42;
  margin-bottom: 20px;
}
.form_wrapper {
  width: 100%;
}
.box {
  margin-bottom: 15px;
  position: relative;
}
.form_label {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.1px;

  color: #252b42;
}
.form_input {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;

  letter-spacing: 0.2px;

  color: #737373;
  border-radius: 10px;
  border: 2px solid #252b42;

  width: 100%;
}
.err_msg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: red;
}
.button {
  display: block;
  max-width: max-content;
  padding: 15px 35px;
  background: #ffa62b;
  border-radius: 37px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;

  text-align: center;
  letter-spacing: 0.2px;

  color: #ffffff;
  border: none;
  cursor: pointer;
}
.dis_btn {
  display: block;
  max-width: max-content;
  padding: 15px 35px;
  background: #e7cda9;
  border-radius: 37px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;

  text-align: center;
  letter-spacing: 0.2px;

  color: #ffffff;
  border: none;
  cursor: not-allowed;
}
@media screen and (min-width: 1200px) {
  .form_wrapper {
    width: 50%;
  }
}
