.navigation {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.link {
  font-weight: 700;
  font-size: 2.14;
  line-height: 1.16;

  color: #f2f2f2;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.link:not(:last-child) {
  margin-bottom: 35px;
}
.active {
  border-bottom: 1px solid #333;
}
.iconTel {
  width: 18px;
  margin-right: 10px;
}
.iconLogin {
  width: 20px;
}
.wrapperLogo {
  width: 140px;
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .wrapperLogo {
    width: 190px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    flex-direction: row;
    padding-left: 0;
  }
  .link {
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.12;
  }
  .link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}
