.header {
  background-color: #f7f7f7;
  padding-top: 36px;
  padding-bottom: 36px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100;
}
.btn:focus {
  outline: none;
}
.body {
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .wrapper {
    justify-content: start;
  }
}
