body {
  margin: 0;
  font-family: "Spectral", serif;
  font-style: normal;
  font-size: 14px;
  background: url("./images/dc.svg") repeat;
  background-size: 69px;
}

*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
