.modal {
  background-color: #f7f7f7;

  position: fixed;
  top: 90px;
  left: 0;

  width: 100%;
  text-align: center;

  z-index: 10;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 110px;
  }
}
